.fondo{
    background-color: #000000;
}


.col-md-4 {
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s ease;
    opacity: 0.65;
}
.profe{
    transform: scale(1.2);
    color: #FFFFFF
}


.profe1f{
    background-image: radial-gradient(ellipse at center, #031620, transparent 80%);
}

.profe2f{
    background-image: radial-gradient(ellipse at center, rgba(87, 38, 44, 0.2), transparent 30%);
}
