* {
    font-family: 'Lobster', cursive;
    font-family: 'Raleway', sans-serif;
    color: #bababa;
}

:root {

    --colorPrincipal: #0095ff;
}

.nav-link {
    color: #bababa !important;
}

.tituloGrande {
    font-size: 3rem;
    color: var(--colorPrincipal);
}

.subtitulo {
    font-size: 1.3rem;

}


a {
    text-decoration: none !important;
    color: #bababa !important;
    font-size: 1.2rem;
}


i {
    color: var(--colorPrincipal);
}

.fondoHero {


    height: 100%;
    background: radial-gradient(189.57% 126.34% at -18.55% 14.67%, rgba(0, 87, 150, 0.192) 0%, rgba(0, 0, 0, 0.20) 100%), radial-gradient(16.60% 16.31% at -0.00% -0.20%, #005796 0%, #000 73.16%), radial-gradient(75.74% 16.12% at 9.34% 1.88%, #000 73.16%, #000 73.16%) !important;
    background-repeat: no-repeat;

    background-size: cover;

}

.img {

    height: 25rem;


    background: url(../img/3.gif), linear-gradient(140deg, #000a11, #00070c);

    background-size: contain;
    background-position: center;
    background-blend-mode: lighten;
    opacity: 0.12;
    background-repeat: no-repeat;

}
.plan {
    padding-bottom: 50px;
    background: radial-gradient(189.57% 126.34% at 18.55% 14.67%, rgba(0, 87, 150, 0.192) 0%, rgba(0, 0, 0, 0.20) 100%), radial-gradient(16.60% 16.31% at -0.00% -0.20%, #000000 0%, #000 73.16%), radial-gradient(75.74% 16.12% at 9.34% 1.88%, #000 73.16%, #000 73.16%) !important;
    background-repeat: no-repeat;
}

.visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
}

.card-carousel {
    
    
    --card-height: 470px!important;
    
    z-index: 1;
    position: relative;
    margin: 0 auto;
    
    width: 90%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    transition: filter .3s ease;
}


@media screen and (max-width: 640px) {
    .card-carousel {
        --card-width: 55%;
        
        --card-height: 400px;
        
        z-index: 1;
        position: relative;
        width: 100%;
        height: var(--card-height);
        min-width: var(--carousel-min-width);
        transition: filter .3s ease;
    }
}
  
.card-carousel.smooth-return {
    transition: all .1s ease;
}
  
.card-carousel .cardC {
    background: rgba(31, 31, 31, 0.33);
    width: var(--card-width);
    max-width: var(--card-max-width);
    padding: 1em!important;
    
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: rgba(0,87,150,100%);
    transition: inherit;
    -webkit-box-shadow: 0px 0px 6px 5px rgba(0,87,150,100%);
    -moz-box-shadow: 0px 0px 6px 5px rgba(0,87,150,100%);
    box-shadow: 0px 0px 6px 5px rgba(0,87,150,100%);
    border-radius: 1em;
    filter: brightness(.5);
    display: flex;
    flex-direction: column;
}

/* Rectangle 23 */
  
.cardC.highlight {
    -webkit-box-shadow: 0px 0px 8px 5px #0d0d0d;
    -moz-box-shadow: 0px 0px 8px 5px #0d0d0d;
    box-shadow: 0px 0px 8px 5px #0d0d0d;
    background: #0d0d0d;
    padding-bottom: 500px!important;
    filter: brightness(1)
}

.titulo-carusel {
    color: #FFFFFF;;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 30px;
}
.bi-check-circle-fill {
    color: #005796;
    align-items: start;
    padding-bottom: 10px;
}

.bi-check-circle-fill span{
    padding-left: 10px;
    color: #FFFFFF;
    font-size: 25px;
}

.fondo{
    background: radial-gradient(rgba(0, 87, 150, 0.192) 0%, rgba(0, 0, 0, 0.20) 100%), radial-gradient(0% 0% at -0.00% -0.20%, #005796 0%, #000 73.16%), radial-gradient(75.74% 16.12% at 9.34% 1.88%, #000 73.16%, #000 73.16%) !important
}


.profe1 {
    transform: scale(0.8);
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s ease;
    opacity: 0.65;
}
.profe2{
    transform: scale(1);
    color: #FFFFFF
}


.profe1f{
    background-image: radial-gradient(ellipse at center, #031620, transparent 80%);
}

.QueEsDW{
    color:white;
    min-height: 100vh;
    background: radial-gradient(52.38% 189.19% at 7.14% 50.00%, rgba(0, 87, 150, 0.11) 0%, rgba(0, 0, 0, 0.00) 100%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%), radial-gradient(101.65% 46.85% at 53.48% 43.53%, rgba(250, 0, 255, 0.90) 0.01%, rgba(0, 0, 0, 0.90) 100%);
}

.titQueEsDW{
    color: #FFF;
    font-weight: 600;
    font-size: 4rem;
}
.titQueEsDW2{
    color: #FFF;
    font-weight: 600;
    font-size: 3rem;
}

#imgHtmlLogo{
    width: 16rem;
    filter: drop-shadow(0px 4px 40px #E44D26);
    /*box-shadow: 0px 4px 40px 0px #E44D26;*/
}

#imgJsLogo{
    filter: drop-shadow(0px 4px 40px #F7DF1E);
}

#imgPhpLogo{
    width: 16rem;
    filter: drop-shadow(0px 4px 40px #777BB3);
}

.cardQEDW{
    z-index:40;
    border-radius: 3.125rem;
    background: rgba(84, 84, 84, 0.10);
    box-shadow: 0px 4px 30px 0px rgba(217, 0, 222, 0.40);
}
.textoQEDW{
    line-height: 2.1875rem;
    text-align: justify;
    color: #ffffff;
    font-weight: 600;
}
.logos{
    width: 50%!important;
    height: 70%!important;
    
}
#imgPhpLogo, #imgJsLogo {
    margin-top: 5%!important;
    
}


@media only screen and (max-width: 1250px) {

    .logos{
        
        width: 80%!important;
        height: 70%!important;
       
    }
    #imgPhpLogo,#imgJsLogo {
        margin-top: 100%!important;
        
    }



}
@media only screen and (max-width: 1000px) and (min-width: 765px) {

    .logos{
        
        width: 100%!important;
        height: 50%!important;
       
    }
    #imgPhpLogo,#imgJsLogo {
        margin-top: 150%!important;
        
    }
    #imgHTMLLogo{
        margin-top: 40%!important;
    
    }

}
@media only screen and (max-width: 765px) {

    .logos{
        
        width: 70%!important;
        height: 100%!important;
        
       
    }
    #imgPhpLogo, #imgJsLogo {
        margin-top: 0!important;
        
    }
    #imgHTMLLogo{
        margin-top: 0!important;
    
    }

    

}
.swiper {
    width: 520px;
    height: 500px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-size:cover ;
}

@media only screen and (max-width: 600px) {
    .swiper {
        width: 220px;
        height: 200px;
    }
}

.fondoProyectos{
    background: radial-gradient(rgba(0, 87, 150, 0.192) 0%, rgba(0, 0, 0, 0.20) 100%), radial-gradient(0% 0% at -0.00% -0.20%, #005796 0%, #000 73.16%), radial-gradient(75.74% 16.12% at 9.34% 1.88%, #000 73.16%, #000 73.16%) !important
}

::-webkit-scrollbar {
    display: none;
}

/*CSS Gameboy*/

.bdBT {
    background: linear-gradient(#000, #2E1E3D);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cardBT {
    background-color: var(--colorPrincipal) !important;
    background-size: contain;
    box-shadow: 0 0 20px var(--colorPrincipal);
    margin: 0 auto;
}

.cardBodyBT {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cruz
{
    top: 50%; transform: translateY(-50%);
    width: 150px;
    height: auto;
}

.boton
{
    top: 50%; transform: translateY(-50%);
    width: 160px;
    height: auto;
    padding-right: 10px;
}

.logoGameboy
{
    width: 300px;
    height: auto;
}

.gameboy-advance {
    width: 480px;
    height: 350px;
    background-color: #656565;
    border: 10px solid #333;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex; /* Agregamos el display flex */
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
}

#map{
    background:url('https://i.imgur.com/cR9pz0W.jpg');
    width: 384px;
    height:320px;
    zoom:1;
    left: 360px;
    top: 155px;
    position: relative;}

.land {
    float: left;
    width: 16px;
    height: 16px;
}
.L2 {
    background: url("https://i.imgur.com/gmbmP6M.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.L1 {
    background: rgba(0, 255, 0, 0.0);
}
.L0 {
    background: rgba(255, 0, 0, 0.0);
}
.gameboy {
    position: absolute;
    margin-top: -315px;
    margin-left: -550px;
    left: 50%;
    top: 50%;
    width: 1100px;
    height: 630px;
    zoom: 1;
}
@media screen and (max-width: 1150px) {
    .gameboy {
        zoom: 0.8;
    }
}
@media screen and (max-width: 900px) {
    .gameboy {
        zoom: 0.5;
    }
}
@media screen and (max-width: 550px) {
    .gameboy {
        zoom: 0.4;
    }
}
/*CSS Gameboy*/
