body{
	font-size: 20px;
    background-color: #7f7f7f; 
    color: #000000;
}

.icon{
    width: 100px;
    height: 50px;
    font-size: 20px;
}

.navbar{
    background-color: #e4e4e4;
    color: #ffffff;
    opacity: 0.8;
    margin: 0px;
    padding: 0px;
    height: 50px;
}

.navbar-item:hover{
    background-color: #747474;

}
.caja{
    margin: 300px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
}

.caja h1{
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

h3{
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}

.caja{
    border: 2px solid #3E3E3E;
    border-radius: 20px;
    padding:5px;
}

p{
    font-size: 20px;
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    border-radius: 20px;
    padding:5px;
    text-align: right;
}

.Columnas{
    background-color: #ffffff;
    opacity: 0.8;
    color: #e4e4e4;
}

.Contactos{
    color: #000000;
}

.content{
    font-size: 30px;
}

.Rsociales{
    color: #707070;
}

.caja1{
    margin: 300px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
    border-radius: 20px;
    padding:5px;
    text-align: right;
}

.caja1 p{
    font-size: 20px;
}

.P.column{
    background-color: #cacaca;
}