
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mx-5">

    <div class="mb-5"><h2>Permisos</h2></div>

</div>

<div class="row mb-5">

    <div class="col-2 offset-3">

        <p>Rol</p>

    </div>
    <div class="col-2">

        <input type="text" class="form-control" />
    </div>
</div>
<div class="row mx-5">




    <div class="col-4">
        <p class="fs-5">Bodega</p>

        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Crear</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Lista</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Editar</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Eliminar</label>
            </div>
        </div>


    </div>

    <div class="col-4">
        <p class="fs-5">Recepcion</p>

        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Crear</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Lista</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Editar</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Eliminar</label>
            </div>
        </div>


    </div>

    <div class="col-4">
        <p class="fs-5">Parametros</p>

        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Crear</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Lista</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Editar</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Eliminar</label>
            </div>
        </div>


    </div>


    <div class="col-4">
        <p class="fs-5">Producto</p>

        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Crear</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Lista</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Editar</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Eliminar</label>
            </div>
        </div>


    </div>

    <div class="col-4">
        <p class="fs-5">Proveedor</p>

        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Crear</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Lista</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Editar</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Eliminar</label>
            </div>
        </div>


    </div>

    <div class="col-4">
        <p class="fs-5">Rack</p>

        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Crear</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Lista</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Editar</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Eliminar</label>
            </div>
        </div>


    </div>

    <div class="col-4">
        <p class="fs-5">Rol</p>

        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Crear</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Lista</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Editar</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Eliminar</label>
            </div>
        </div>


    </div>


    <div class="col-4">
        <p class="fs-5">TipoProducto</p>

        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Crear</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Lista</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Editar</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Eliminar</label>
            </div>
        </div>


    </div>


    <div class="col-4">
        <p class="fs-5">Ubicacion</p>

        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Crear</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Lista</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Editar</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Eliminar</label>
            </div>
        </div>


    </div>



    <div class="col-4">
        <p class="fs-5">Unidad Medida</p>

        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Crear</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Lista</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Editar</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Eliminar</label>
            </div>
        </div>


    </div>


    <div class="col-4">
        <p class="fs-5">Usuario</p><!--te faltan-->

        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Crear</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Lista</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Editar</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Eliminar</label>
            </div>
        </div>


    </div>

    <div class="col-4">
        <p class="fs-5">Proveedor Tipo Producto</p><!--te faltan-->

        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Crear</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Lista</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Editar</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Eliminar</label>
            </div>
        </div>


    </div>


    <div class="col-4">
        <p class="fs-5">Rol Tipo Producto</p><!--te faltan-->

        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Crear</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Lista</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Editar</label>
            </div>
        </div>
        <div class="row my-2">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked"> Eliminar</label>
            </div>
        </div>


    </div>
</div>

<div class="row my-5">

    <div class="col-4 offset-4">

        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-outline-danger">Aceptar</button>
            <button type="button" class="btn btn-outline-warning">Limpiar</button>
            <button type="button" class="btn btn-outline-success">Borrar</button>
        </div>
    </div>
</div>